{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block content %}
    {% if request.user == album.user or perms.gallery.change_album %}
        <a href="{% url 'gallery:album_update' album.id %}" class="btn btn-primary">Редактировать</a>
    {% endif %}
    {% if request.user == album.user or perms.gallery.delete_album %}
        <a href="{% url 'gallery:album_delete' album.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}
    <div>
        <p>Название:{{ album.title }}</p>
        <p>Описание:{{ album.description }}</p>
    </div>
    <h3>Фото</h3>
    <div class="row">
        {% for p in album.photos.all %}
            <div class="col-md-3">
                <img src="{{ p.image.url }}" style=" width: 10rem; height:
                10rem; background-repeat: no-repeat;" alt="">
                <br>
                <a href="{% url 'gallery:photo_detail' p.id %}">{{ p.description }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}