{% extends 'base.html' %}
{% block title %}Детальный просмотр фото{% endblock %}
{% block content %}
    <div class="container">
        <img src="{{ photo.image.url }}" style=" width: 10rem; height:
                10rem; background-repeat: no-repeat;" alt="">
        <p>Описание: {{ photo.description }}</p>
        <p>Автор: {{ photo.user }}</p>
        {% if photo.album %}
            <a href="{% url 'gallery:album_detail' photo.album.pk %}" ><p>Альбом:{{ photo.album }}</p></a>
        {% endif %}
        <p>Дата создания: {{ photo.created_at }}</p>
    </div>
    {% if request.user == photo.user or perms.gallery.change_photo %}
        <a href="{% url 'gallery:photo_update' photo.id %}" class="btn btn-primary">Редактировать</a>
    {% endif %}
    {% if request.user == photo.user or perms.gallery.delete_photo %}
        <a href="{% url 'gallery:photo_delete' photo.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}
{% endblock %}